/* Full screen background */
.login-page {
  display: flex;
  justify-content: center;  
  height: 70vh;             
  background-color:none; 
}

/* login box */
.login-box {
  background:white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color:black;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #333;
}
